.headerBar {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 3px 20px;
  border-bottom: 1px solid #333333;
  background-color: #ffffff;
  width: 100%;
}

.logo_icon_bar {
  height: 40px;
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.headerBar .link {
  height: 25px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 20px;
}

.loginBtn {
  background-color: #fff;
  color: #111;
  padding: 0;
  border: none;
  cursor: pointer;
}
.loginBtn:hover {
  color: #007bff;
}

.title-divider {
  border-color: #e2e2e2;
  border-left-style: solid;
  border-left-width: 1px;
  height: 30px;
  width: 1px;
  margin: 10px 10px;
}

.headerBar .div-title {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.headerBar .heading-free {
  color: #333333;
  font-family: "Ubuntu-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.headerBar .link-by-zoho-invoice {
  color: #333333;
  font-family: "Ubuntu-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 13px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.headerLogo {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.headerBar .SIGN-UP-IT-s-FREE-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 9.94px 0px 0px;
  position: relative;
}

.headerBar .SIGN-UP-IT-s-FREE {
  color: #ffffff;
  font-family: "Ubuntu-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.headerBar .accountsIconText {
  width: 200px;
  padding: 0 10px;
  display: flex;
}

.headerBar .heading-free-wrapper {
  border-radius: 4px;
  flex: 0 0 auto;
  position: relative;
}

.headerBar .text-wrapper {
  color: #333333;
  font-family: "Ubuntu-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.8px;
  display: flex;
  align-items: center;
}
