.modelView {
  overflow-y: auto;
  z-index: 100;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

.innerModel {
  text-align: center;
  /* min-height: 100vh; */
}

.innerDialog {
  /* background-color: rgb(0 0 0 / 0.5); */
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

.transitionAll {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.modelBox {
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
  width: 100%;
  max-width: 750px;
  min-height: 1000px;
  display: inline-block;
  margin-top: 4rem;
  margin-left: -4rem;
  margin-bottom: 0rem;
  background: rgba(255, 255, 255, 1);
  border: 0.1px solid grey;
}

.modelClose {
  float: right;
  padding: 9px 12px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #9ca3af;
  background: linear-gradient(180deg, #f4f4f4 0%, #e4e4e4 100%);
}

.boxA {
  padding: 30px;
  height: auto;
}
.clearflex {
  clear: both;
}

.modelHeading {
  color: #333333;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  margin: 0;
}

.h-1 {
  color: #333333;
  font-family: "Ubuntu-Light", Helvetica;
  font-size: 45px;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
}

.previewLabel {
  color: #333;
  font-family: "Ubuntu-Light", Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 50%;
}

.previewHeader {
  display: flex;
  margin: auto;
  /* padding: 20px 0; */
}
.PreviewHeaderItem {
  width: 50%;
  padding: 10px 0px;
  align-items: center;
}

.mt-6 {
  margin-top: 1.5rem;
}
.modelTable {
  text-align: left;
  height: 40px;
  width: 100%;
}

.tableHead {
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 3px;
  background: #f2f5ff;
}

.tableRow {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.modelTable th {
  color: #009bd6;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 15.41px; /* 133.333% */
  padding: 10px;
}

.modelTable td {
  color: #333;
  font-size: 11.557px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.41px; /* 133.333% */
  padding: 10px;
  text-align: center;
}

.text-left {
  text-align: left !important;
  padding-left: 20px;
}

.previewText {
  color: #333;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.tofromFieldsModel {
  display: flex;
  padding: 5px 20px 0 0;
  justify-content: space-between;
}

.extraOptions {
  display: flex;
  padding: 5px 20px 0 5px;
  justify-content: space-between;
}
.stampSignField {
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
}

.stampField,
.signField {
  text-align: center;
}

.previewcontainer {
  width: 100%;
  display: block;
}

.previewTotalFields {
  width: 35%;
  float: right;
}

.PreviewToFromFields {
  display: flex;
  padding: 10px 0;
}

.PreviewToFields {
  width: 50%;
}

.toFromTitle {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  padding: 10px 0;
}

.previewDivider {
  width: 95%;
  background-color: #eee;
  margin: 20px 0;
  height: 0.2px;
  border-top: 0.1px dotted #8c8b8b;
}

.previewNotes {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  width: 50%;
}
